.jg-tree li {
    list-style-type: none;
    margin-left: -1.05em;
    padding: 0;
}

.jg-tree-animation.ng-leave {
    transition: 0.2s linear all;
    position: relative;
    height: 30px;
    max-height: 30px;
    display: block;
    opacity: 1;
}
.jg-tree-animation.ng-leave.ng-leave-active {
    height: 0;
    max-height:0;
    opacity: 0;
}

.jg-tree-animation.ng-enter {
    transition: 0.2s linear all;
    position: relative;
    display: block;
    height: 0;
    max-height:0;
    opacity: 0;
}
.jg-tree-animation.ng-enter.ng-enter-active {
    height: 30px;
    max-height: 30px;
    opacity: 1;
}


.jg-tree-item {
    border-radius: 5px;
}

.jg-tree-item:hover {
    background-color: rgba(114, 115, 117, 0.51);
}

.jg-tree-node-selected {
    background-color: #6B9CFF;
}

.jg-tree-node-selected:hover {
}

.jg-tree-node-selected * {
    color: white;
}
.jg-tree-node-selected *:hover {
     color: white;
 }