<div class="container">
    <h1>Loading Indicators</h1>
    <div class="row">
        <div class="col-xs-8">
            <p>
                Loading indicators are important because they provide feedback to users that something is happening or going to happen. Without them, users are left wondering if their button click went through or if the program is actually getting their emails.
            </p>
        </div>
    </div>

    <hr>
    <button data-ng-click="play('inbox')">Play</button>
    <button data-ng-if="!operations['inbox'].isLoading"
            data-ng-click="startLoading(section)">Show Loading</button>
    <button data-ng-if="operations['inbox'].isLoading"
            data-ng-click="stopLoading()">Stop Loading</button>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Inbox</h3>
        </div>
        <div class="panel-body">
            <div data-loading-indicator data-message="'Loading messages...'" data-is-loading="operations['inbox'].isLoading">
                <table class="table ">
                    <tr>
                        <th>Subject</th>
                        <th>From</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Shellcore Airlines Flight Confirmation: #31415735</td>
                        <td>Shellcore Airlines, LLC.</td>
                        <td>01/24/2014</td>
                    </tr>
                    <tr>
                        <td>re: Interview Request</td>
                        <td>Joseph Gefroh</td>
                        <td>01/11/2014</td>
                    </tr>
                    <tr>
                        <td>fwd: deposed king of nigeria seeks your assistance</td>
                        <td>Grandma</td>
                        <td>01/10/2014</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <div class="well">
        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-10">

            </div>
        </div>
        <button class="btn btn-success">Execute</button>
    </div>
</div>